# Mac stuff
.DS_Store

# Large files
*.MOV

# CCS Stuff
.metadata
*/.metadata
.jxbrowser.userdata
/.jxbrowser.userdata
RemoteSystemsTempFiles
*/RemoteSystemsTempFiles
dtv
*/dvt
*/.launches/
*/.settings
*.settings
*/.debug
*.launch
Debug
*/Debug
*/Debug/
*Debug*
Debug
*.prefs
*.project
*.cproject
*.ccsproject

# ASV files
*.asv
~*
