# Mac stuff
.DS_Store

# CCS Stuff
.metadata
*/.metadata
.jxbrowser.userdata
/.jxbrowser.userdata
RemoteSystemsTempFiles
*/RemoteSystemsTempFiles
dtv
*/dvt
*/.launches/
*/.settings
*.settings
*/.debug
*.launch
Debug
*/Debug
*/Debug/
*Debug*
Debug
*.prefs

# ASV files
*.asv
~*
